*{
    padding:0;
    margin:0;
    
}

*{
    /* border:1px solid black; */
}

#container{
    height:500px;
    width:500px;
    background-color:rgb(255, 251, 224);
    border:1px solid black;
    overflow:hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

body{
    height:100vh;
    width:100vw;
    
    
    grid-template-rows:95% 5%;

    font-family:monospace;
}

#content{
    font-size:15px;
}

#button-div{
    display:flex;
    
}

#main{
    
    grid-template-columns: 30% 70%;
}

#text{
    font-size:30px;
    margin:15px;
    margin-bottom:20px;
    background-color:rgb(207, 253, 255);
    padding:10px;
    width:475px;
    border:1px solid black;
    border-radius:5px;
}

#copyBtn{
    margin-left:15px;
    margin-right:15px;
    font-size:20px;
    padding:10px;
    background-color:rgb(255, 251, 224);
    border-radius:5px;
    width:200px;
    
}

#copyBtn:hover{
    background-color:rgb(207, 253, 255);
}

#copyBtn:active{
    background-color:#ffe6ff;
}

#textBox{
    font-size:20px;
    
}

#container{
    margin:15px;
}

#button-div{
    width:510px;
}

#backBtn{
    font-size:15px;
    padding:17px;
    padding-left:30px;
    padding-right:30px;
    
    background-color:rgb(255, 251, 224);
    border-radius:5px;
    margin-left:15px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#backBtn:hover{
    background-color:rgb(207, 253, 255);
}

#backBtn:active{
    background-color:#ffe6ff
}

#vahaduoBtnContainer{
    display:flex;
    flex-direction: column;
    width:500px;
    margin-left:15px;
    gap:10px;
    
}

#vahaduo2wayBtn, #vahaduoBtn{
    background-color: rgb(200, 255, 193);
    color:black;
    font-size:30px;
    border-radius:10px;
    padding:5px;
}

#vahaduo2wayBtn:hover, #vahaduoBtn:hover{
    background-color: black;
    color:rgb(255, 249, 159);
    
}